.inline {
    display: inline-block;
}

button {
    padding: 5px 15px;
    margin: 0 10px !important;
}

.form {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
}

.last {
    width: 100%;
    margin-top: 1rem;
}